input {
  width: 90%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}

button {
  width: 50%;
  background-color: rgb(82, 156, 230);
  padding: 4px;
  font-weight: bold;
}

.Login,
.Signup {
  max-width: 600px;
  padding: 20px;
}

.Home input {
  max-width: 600px;
}
