.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80vw;
}

.Navigation {
  width: 100vw;
}

.Login,
.Signup {
  max-width: 600px;
  padding: 20px;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home h1 {
  margin-bottom: 30px;
}

.Home input {
  min-width: 200px;
  max-width: 50%;
}

.Post {
  max-width: 50vw;
  width: 100%;
  background-color: #d8c2a266;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 20px 40px;
}
.Post hr {
  margin-top: 0;
  margin-bottom: 0;
}
.Post h1 {
  margin-bottom: 5px;
}
.Post-username {
  font-style: italic;
  margin-bottom: 0;
}
.Post-tags {
  color: gray;
  margin-bottom: 0;
}
.Post-content {
  margin-top: 10px;

  font-size: 1.3em;
}

/* FAVOURITE */
.btn-fav {
  cursor: pointer;
  font-size: 2rem;
  color: #00000083;
}

.btn-fav:hover {
  color: #a3a3a349;
}
